<% provide(:title, "Nouvel exercice de conjugaison") %>
<% provide(:description, "Exercices de conjugaison française. Travaillez les temps et les modes que vous souhaitez." ) %>

<div class="container">
	<h1 class="page-header text-center nadvence-box box-big-title">Nouvel exercice</h1>

	<%= render 'form' %>

</div>